@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;200;300;400;500;600;700&display=swap');

:root {
  --bg-header-color: #333333;
  --font-color: #fff;
  --bg-color: rgba(21, 42, 99, 0.9);
  --skin-bg-color: rgb(21, 42, 99)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Roboto Condensed', sans-serif;
  min-height: 100vh;
  background-color: var(--skin-bg-color);
  background-image: url('./../public/images/mk_background.jpg');
}

.container {
  width: 1280px;
  margin: 40px auto;
}

