@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;200;300;400;500;600;700&display=swap');

:root {
  --bg-color: #080825;
  --bg-header-color: #333;
  --font-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Roboto Condensed', sans-serif;
  min-height: 100vh;
  background: rgba(1, 3, 10, 0.73);
}

.container {
  width: 1280px;
  margin: 40px auto;
}

